.subject-selection-container {
  padding: 10px;
}

.left-pane {
  padding: 10px 10px 10px 0;

  .available-subjects-container {
    height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .row {
    padding: 10px 20px;
  }
}

.right-pane {
  padding: 10px 0 10px 10px;

  .selected-subjects-container {
    background-color: silver;
    height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .row {
    padding: 10px 20px;
  }
}

.subject-card {
  &:hover {
    background-color: darken(#fff, 10%);
    cursor: pointer;
  }
}