.subject-selection-container {
  min-height: 300px;
}

.left-pane {
  .row {
    padding: 10px;
  }
}

.right-pane {
  .selected-subjects-container {
    background-color: silver;
    min-height: 300px;
  }
  .row {
    padding: 10px 30px;
  }
}

.subject-card {
  &:hover {
    background-color: darken(#fff, 10%);
    cursor: pointer;
  }
}