@import 'variables';
@import 'mixins';

html {
  font-size: 100%;
  height: 100%;
}

body {
  background-color: #eeeeee;
  color: rgba(118, 118, 118, 1.0);
  font-family: 14px;
  padding: 0 !important;
  margin: 0 !important;
  line-height: 23px;
  font-style: normal;
  font-weight: normal;
  min-height: 100%;
  float: left;
  position: relative;
  width: 100%;
}

a {
  color: $color4;
}

.page-topbar {
  min-height: 60px;
  position: fixed;
  width: 100%;
  background-color: $color1;
  top: 0;
  left: 0;
  z-index: 1999;
  max-height: 60px;

  @include box-shadow(0, 2px, 4px)
}

.page-sidebar {
  min-height: 100%;
  height: auto;
  width: 260px;
  position: fixed;
  margin-top: 60px;
  padding: 0;
  background-color: $backgroundColor;
  overflow: hidden;

  .profile-info {
    background: transparent;
    padding: 15px 10px 20px 15px;
  }

  @include box-shadow(0, 2px, 10px)
}

.menu-list {
  list-style-type: none;
}

.page-sidebar-wrapper {
  ul {
    @extend .menu-list;
    padding: 0;
    margin: 0;
    font-family: $sidebarMenuFont;
    font-weight: 400;
    font-size: 14px;
  }

  ul.wraplist {
    height: auto;
    padding-bottom: 0;
    margin-top: -10px;

    li {
      a {
        display: block;
        line-height: 42px;
        min-height: 42px;
        height: auto;
        color: #424242;
        text-decoration: none;
        padding-left: 5px;
        clear: both;
        border-left: 4px solid transparent;
        white-space: nowrap;

        i {
          display: inline-block;
          width: 45px;
          height: 34px;
          line-height: 34px;
          text-align: center;
          top: 0;
          position: relative;
        }

        .arrow {
          float: right;
          position: absolute;
          right: 0;

          &:before {
            margin-right: 20px;
            display: inline;
            font-size: 16px;
            font-family: FontAwesome;
            content: "\f104";
            font-weight: 300;
            text-shadow: none;
            color: #757575;
          }
        }
      }

      &.open {
        a {
          background-color: $sidebarMenuItemSelectedBgColor;
          border-left: 4px solid $color4;

          .arrow:before {
            content: "\f107";
          }
        }


        .sub-menu {
          @extend .menu-list;
          width: 100%;
          padding-left: 0;
          display: block;
          font-size: 14px;

          a {
            background-color: transparent;
            color: $sidebarSubMenuItemColor;
            border-left: 4px solid transparent;
            min-height: 36px;
            margin-bottom: 1px;
            padding-left: 55px;
            line-height: 36px;

            &.active {
              background-color: rgba(33, 33, 33, 0.1);
              border-left: 4px solid $color4;
            }
          }
        }
      }
    }
  }

  .profile-info {
    background: transparent;
    padding: 15px 15 10px 20px;
  }
}

.page-container.container-fluid {
    padding: 0px;
}

.main-content {
  margin-left: 260px;
  display: block;
}

.main-wrapper {
  display: inline-block;
  margin-top: 60px;
  width: 100%;
  padding: 15px 15px 0 15px;
  margin-left: 0;
  margin-right: 0;
}

.page-title {
  display: inline-block;
  width: 100%;
  margin-top: 10px;

  h1 {
    font-size: 28px;
    font-weight: 400;
    padding: 0;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-family: $pageTitleHeadingFont;
    color: $pageTitleHeadingColor;
  }
}

.invalid {
  background: #ffdedd!important;
  border-color: #ff5b57!important;
}

.validation span {
  color: #ff5b57!important;
}

.actions-container {
  margin-top: 30px;
}

.app-table thead {
    background-color: $color1;
    color: #fff;
}