$color1: #27586B;
$color2: #04B8FF;
$color3: #099DD6;
$color4: #0080B2;
$color5: #223841;
$backgroundColor: #ffffff;
$font3: 'Roboto', Arial, Helvetica, sans-serif;

// Sidebar
$sidebarMenuItemColor: #424242;
$sidebarMenuItemSelectedBgColor: rgba(33, 33, 33, 0.1);
$sidebarSubMenuItemColor: #616161;
$sidebarMenuFont: $font3;

// Page Heading
$pageTitleHeadingFont: $font3;
$pageTitleHeadingColor: rgba(118, 118, 118, 1.0);

// Content
$contentHeadingFont: $font3;
