<app-box>
  <app-wizard>
    <app-wizard-step title="Create New Student">
      <app-box>
        <app-student-edit-form (save)="saveStudent($event)" saveButtonText="Next"></app-student-edit-form>
      </app-box>
    </app-wizard-step>
    <app-wizard-step title="Select Subjects">
      <app-box>
        <app-subject-selection [selectedSubjects]="selectedSubjects$ | async"
          (nextClicked)="proceedToSummary()"
          (subjectSelected)="selectSubject($event)"
          (subjectRemoved)="removeSubject($event)"></app-subject-selection>
      </app-box>
    </app-wizard-step>
    <app-wizard-step title="Complete">
      <app-box>Content 3</app-box>
    </app-wizard-step>
  </app-wizard>
</app-box>
