@import '../../../styles/colors';

.navigation {
  width: 21rem;
  position: fixed;
  z-index: 1;
  left: 0;
  padding-top: 5.5rem;
  height: 100%;
  background-color: $backgroundColor;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
  overflow-y: auto;

  .menu {
    list-style: none;
    padding-left: 0;

    li a {
      display: block;
      padding: 0.8rem 2rem;
      position: relative;
      color: $sidebarMenuFontColor;
      font-weight: 500;
      text-decoration: none;

      &:hover {
        color: $sidebarMenuFontColorHovered;
      }

      &:focus {
        outline: none;
      }

      md-icon {
        vertical-align: top;
        position: relative;
        top: 0.15rem;
        width: 1.5rem;
        margin-right: 0.6rem;
        font-size: 1.3rem;
        text-align: center;
      }
    }
  }
}
